@mixin button {
    display: inline-block;
    background: #1f6ee0;
    border-radius: 3px;
    padding: 8px 25px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    &:hover {
        background-color: #0555c2;
        transition: background-color 0.2s ease-in;
    }
}