form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    label {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-top: 20px;

        input {
            width: 100%;
            height: 30px;
            padding: 0 5px;
        }
        #note { width: 100%; }
    }

    label:last-of-type {
        width: 100%;
    }
    button {
        @include button;
        margin-left: auto;
    }
}