body {
    font: 500 16px/1.5 Tahoma, Sans-Serif;
    color: rgba(0, 0, 0, .6);
    min-width: 320px;
    background: $primary_color
}

.container {
    background: $grey_color;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px 40px;

    .row + .row {
        margin-top: 30px;
    }

    .row {
        background: $primary_color;
        padding: 15px;

        .btn {
            @include button;
        }
    }
}

.invoices_block {
    table {
        width: 100%;
        tbody {
            tr {
                background: $grey_color;
                border-bottom: 1px solid $grey_color;
                th, td {
                    max-width: 250px;
                    text-align: left;
                    border: none;
                    padding: 3px 10px;
                    word-break: break-word;
                }
                th {
                    background: $grey_color;
                }

                td.view,
                td.delete {
                    width: 50px;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-align: center;
                    span {
                        cursor: pointer;
                        &:hover {
                            color: #000000;
                            transition: color 0.2s ease-in;
                        }
                    }
                }
            }
        }
    }
}